h1 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

#max-height {
  max-height: 25rem;
  overflow: auto;
}

@media (max-height: 736px) {
  #max-height {
    max-height: 32rem;
  }
}

@media (min-height: 800px) {
  #max-height {
    max-height: 36rem;
  }
}

@media (min-height: 820px) {
  #max-height {
    max-height: 39rem;
  }
}
