<div class="grid-container">
  <sn-header></sn-header>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-12 col-md-3 col-lg-3 bg-light">
        <hr />
        <sn-nav></sn-nav>
        <hr />
        <a class="btn btn-link" (click)="authService.logout()">Logout</a>
      </nav>
      <main class="col-12 col-md-9 col-lg-9 p-0 bg-light">
        <router-outlet class="animated fadeInRight"></router-outlet>
      </main>
    </div>
  </div>
  <sn-footer></sn-footer>
</div>
