<div class="grid-container">
  <sn-header></sn-header>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-12 col-lg-3 bg-light">
        <hr />
        <sn-nav></sn-nav>
        <hr />
        <a class="btn btn-link" (click)="authService.logout()">Logout</a>
      </nav>
      <main class="col-12 col-md-8 col-lg-7">
        <router-outlet></router-outlet>
      </main>
      <!-- <aside class="col-12 col-md-4 col-lg-3">
    </aside> -->
    </div>
  </div>
  <sn-footer></sn-footer>
</div>
