<nav>
  <h3>
    <a class="nav-link" routerLink="/homepage" routerLinkActive="text-primary"
      >Event Homepage</a
    >
  </h3>
  <h3>
    <a class="nav-link" routerLink="/members" routerLinkActive="text-primary"
      >Event Members</a
    >
  </h3>
  <h3>
    <a class="nav-link" routerLink="/live" routerLinkActive="text-primary"
      >Live Event</a
    >
  </h3>
  <h3>
    <a class="nav-link" routerLink="/events" routerLinkActive="text-primary"
      >My Events</a
    >
  </h3>
  <h3>
    <a class="nav-link" routerLink="/profile" routerLinkActive="text-primary"
      >My profile</a
    >
  </h3>
</nav>
