:host {
  .grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #fill-available {
    max-height: -webkit-fill-available;
  }
}
