.modal {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

p {
  font-size: 0.75rem;
}

h1 {
  font-size: 1.5rem;
}

#max-height {
  max-height: 28rem;
  overflow: auto;
}

@media (min-width: 768px) {
  #max-height {
    max-height: 34rem;
  }
}

@media (max-height: 736px) {
  #max-height {
    max-height: 34rem;
  }
}

@media (min-height: 800px) {
  #max-height {
    max-height: 36rem;
  }
}
