<section class="pt-2">
  <h1 class="text-center pb-2">
    Join one of this available events...
  </h1>
</section>
<div id="max-height">
  <div class="mb-3 px-2" *ngFor="let event of eventsService.eventsNotJoined">
    <div class="card bg-light text-black animated flipInX border-primary">
      <div class="card-header p-2 bg-primary">
        <h5 class="text-center">{{ event.name }}</h5>
      </div>
      <div class="card-body p-2">
        <ul>
          <li>
            <p class="m-0">Company: {{ event.company }}</p>
          </li>
          <li>
            <p class="m-0">Created at: {{ event.created_at }}</p>
          </li>
          <li>
            <p class="m-0">Finish at: {{ event.finish_at }}</p>
          </li>
        </ul>
        <div class="row justify-content-center py-2 px-1">
          <button
            type="button"
            class="btn btn-info px-2 my-1 mr-1"
            (click)="joinEvent(event.id, 'speaker')"
          >
            Join like SPEAKER!!
          </button>
          <button
            type="button"
            class="btn btn-info px-1 my-1 ml-1"
            (click)="joinEvent(event.id, 'listener')"
          >
            Join like LISTENER!!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
