h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
.row {
  background-image: url('https://media.giphy.com/media/mvK5C1UAf5f8c/giphy.gif');
  background-size: cover;
  border-radius: 1rem;
  margin: 0.5rem;
}
