<nav class="navbar bg-light text-dark justi">
  <div class="justify-content-around">
    <span class="mx-2">@Eduardo Pérez 2019</span>
    <a
      href="https://www.linkedin.com/in/eduardo-perez-cajaraville/"
      class="mx-2"
      target="_blank"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/eduper11" class="mx-2" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.instagram.com/edu_en_dos_ruedas/"
      class="mx-2"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <a class="btn btn-link text-dark" routerLink="/about">About</a>
</nav>
