<div id="loader-text-container">
  <div id="loader-text-1" class="loader-text text-primary">e</div>
  <div id="loader-text-2" class="loader-text text-light">v</div>
  <div id="loader-text-3" class="loader-text text-primary">e</div>
  <div id="loader-text-4" class="loader-text text-light">n</div>
  <div id="loader-text-5" class="loader-text text-primary">t</div>
  <div id="loader-text-6" class="loader-text text-light">-</div>
  <div id="loader-text-7" class="loader-text text-primary">I</div>
  <div id="loader-text-8" class="loader-text text-light">n</div>
</div>
