<div class="container-fluid p-0 m-0 justify-content-center">
  <h1
    class="text-center pb-3"
    style="font-size: 1rem; font-family: 'Fredoka One'"
  >
    Who has joined to this event??
  </h1>
  <div class="row justify-content-center pt-1 m-0" id="max-height">
    <div
      class="card text-white bg-primary d-inline-block m-2"
      style="width: 20rem;"
      *ngFor="let user of userService.currentEventUsers"
    >
      <div class="row justify-content-center py-1">
        <img
          src="{{ user.avatarUrl }}"
          class="card-img-top border-primary rounded-circle"
          width="160px"
          height="auto"
          alt="..."
        />
      </div>
      <div class="card-body px-2 py-1">
        <h1
          class="card-title text-center mb-1 mt-0 mx-0"
          style="font-size: 1.5rem;"
        >
          {{ user.full_name }}
          <p class="d-inline" style="font-size: 0.8rem">{{ user.rol }}</p>
        </h1>
        <article class="text-dark px-2">
          <p class="card-text" style="font-size: 0.8rem;">
            {{ user.description }}
          </p>
        </article>
        <section class="row justify-content-center">
          <a
            href="https://www.linkedin.com"
            title="https://www.linkedin.com"
            class="btn btn-primary mx-2 py-1"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="{{ user.github }}"
            title="{{ user.github }}"
            class="btn btn-primary mx-2 py-1"
            target="_blank"
          >
            <i class="fab fa-github"></i>
          </a>
          <a
            href="{{ user.instagram }}"
            title="{{ user.instagram }}"
            class="btn btn-primary mx-2 py-1"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
